*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
canvas { border: 1px solid #ccc; margin-top: 20px; width:400px;height:160px;}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    height: 80px;
}
.shengyiwu-list{
    width: 1000px;
    margin: 0 auto;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;

}
.ys-head{
    width: 1000px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #5a5a5a;
    justify-content: space-evenly;
    align-items: center;
}
.ys-head a{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.banner{
    width: 1000px;
    margin: 0 auto;

}
.banner img{
    width: 100%;
    height: 300px;
}
h1{
    text-align: center;
    line-height: 60px;
}
.shop-list{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;

}
.shop-list li{
    width: 200px;
    height: 270px;
    box-shadow: 0 0 5px #333;
    margin: 20px;
    border-radius: 3px;
}
.shop-list img{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.shop-item{
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.shop-item span:nth-child(1){
    font-size: 13px;
    font-weight: bold;
    color: red;
}
.shop-item span:nth-child(2){
    color: #adadad;
    font-size: 13px;
}
.desc{
    width: 180px;
    line-height: 30px;
    font-size: 13px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#qrcode {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
}

.controls label {
    font-size: 14px;
}

.controls input[type="color"] {
    width: 50px;
    height: 30px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.controls input[type="checkbox"] {
    margin-left: 10px;
}
#result {
            margin-top: 20px;
            font-size: 18px;
            color: #333;
        }
        canvas.qrcode {
            display: none;
        }
@media screen and (max-width:600px){
    body{
	width: 100%;
    }
	canvas{width:100%;}
    .ys-head{
        width: 100%
    }
    .banner{
        width: 100%;
    }
    .banner img{
        height: 150px;
    }
    .shop-item{
        width: 100%;
    }
    .shop-list{
        width: 100%;
        justify-content: center;
    }
    .shengyiwu-list{
        width: 100%;
        justify-content: center;
	padding-left: 5px;
        padding-right: 5px;
    }
}
@media screen and (max-height:600px){
    body{
        width: 100%;
        }
	canvas{width:100%;}
        .ys-head{
            width: 100%;
        }
        .banner{
            width: 100%;
        }
        .banner img{
            height: 150px;
        }
        .shop-item{
            width: 100%;
        }
        .shop-list{
            width: 100%;
            justify-content: center;
        }
        .shengyiwu-list{
            width: 100%;
            justify-content: center;
	    padding-left: 5px;
            padding-right: 5px;
        }
}
